@import "tailwindcss";

:root {
  --group-bg: #F7F7FD;
  --primary-bg: #FFFFFF;
  --secondary-bg: #F8F8FE;

  --black-color: #000000;
  --primary-color: #060606;
  --secondary-color: #494747;

  --main-color: #A9ECEC;
  --shadow-color: #A9ECEC80;
  --border-color: rgba(0, 0, 0, 0.2);
}

:root.dark {
  --group-bg: #13151F;
  --primary-bg: #15192C;
  --secondary-bg: #34384C;
  
  --primary-color: #FFFFFF;
  --secondary-color: #888;
  
  --main-color: #A9ECEC;
  --shadow-color: #A9ECEC80;
  --border-color: rgba(255, 255, 255, .1);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-card: 1350px;
  --breakpoint-2xl: 1600px;

  --color-primary-color: var(--primary-color);
  --color-secondary-color: var(--secondary-color);

  --color-group-bg: var(--group-bg);
  --color-primary-bg: var(--primary-bg);
  --color-secondary-bg: var(--secondary-bg);

  --color-main-color: var(--main-color);
  --color-border-color: var(--border-color);
  --color-black-color: var(--black-color);
  --color-shadow-color: var(--shadow-color);
}

:root {
  font-family: "Maven Pro", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

button {
  gap: 10px;
  padding: 3px 10px;
  border-radius: 8px;
  background-color: var(--primary-bg);
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}